VITE_SUPABASE_URL=https://cppiiabotmdacjrhjcgv.supabase.co/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNwcGlpYWJvdG1kYWNqcmhqY2d2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0NDQ4NjksImV4cCI6MjA5NTAyMDg2OX0.s9ggbPJkWeM7b10EQk3NVjvV0BCk2kduj7w4Evda2Yw