@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    /* Tailwind config'deki renkleri body'ye uygular */
    @apply bg-background text-foreground antialiased font-sans;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
